*.jsc
*.log
*.pro
*.pro.user
*.qmake.stash
*.qmlc
*.so
*.trace
*.vagrant
.DS_Store
Mfile*
qtbox

*/*-minimal.*
*/*.o
*/*_string.go
*/cgo_*
*/minimal_*
*/*.d.ts
*/*.dart
*/*.hx
*/*.swift

interop/moc*

/internal/binding/dump/*
/internal/binding/runtime/moc*
/internal/cmd/moc/test/**/moc*
/internal/examples/**/deploy
/internal/examples/**/moc*
/internal/examples/**/rcc*
/internal/examples/**/uic*

flutter/*lutter*