.DS_Store
*.pro
*.pro.user
*.qmlc
*.trace
*.vagrant
*.log
*/cgo_*
*/minimal_*
*/*-minimal.*
*/*_string.go
/internal/examples/**/deploy
/internal/examples/**/rcc*
/internal/examples/**/moc*
/internal/binding/dump/*
