[Desktop Entry]
Name=Kirigami Gallery
Name[ar]=معرض «كيريغامي»
Name[ast]=Galería Kirigami
Name[ca]=Galeria del Kirigami
Name[ca@valencia]=Galeria del Kirigami
Name[cs]=Galerie Kirigami
Name[de]=Kirigami-Galerie
Name[el]=Kirigami Gallery
Name[en_GB]=Kirigami Gallery
Name[es]=Galería Kirigami
Name[et]=Kirigami galerii
Name[fr]=Galerie Kirigami
Name[gl]=Galería de Kirigami
Name[hu]=Kirigami galéria
Name[it]=Galleria di Kirigami
Name[ko]=Kirigami 갤러리
Name[nl]=Kirigami galerij
Name[nn]=Kirigami-galleri
Name[pl]=Galeria Kirigami
Name[pt]=Galeria do Kirigami
Name[pt_BR]=Galeria do Kirigami
Name[ru]=Галерея Kirigami
Name[sk]=Galéria Kirigami
Name[sl]=Galerija Kirigami
Name[sv]=Kirigami-galleri
Name[uk]=Галерея Kirigami
Name[x-test]=xxKirigami Galleryxx
Name[zh_CN]=Kirigami 画廊
Name[zh_TW]=Kirigami 藝廊

Encoding=UTF-8
Type=Application
Exec=kpackagelauncherqml -a org.kde.kirigami.gallery
Icon=preferences-desktop-theme
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.kirigami2.gallery
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Graphics
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/ExampleApp.qml
